RewriteEngine On

RewriteRule ^$ /support

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !/support
RewriteCond %{REQUEST_FILENAME} !request.php
RewriteRule ^(.*)$ /engine/request.php?arguments=$1 [L,QSA]
